<div class="container">
    <div class="card-container">
        <div>
            <h1 i18n="@@products">Products</h1>
        </div>
        <div class="card">
            <div *ngFor="let product of products$ | async">
                <mat-card class="example-card" (click)="goToProductDetail(product.id)">
                    <mat-card-header>
                        <mat-card-title class="mat-card-title">{{product.title}}</mat-card-title>
                    </mat-card-header>
                    <div class="image-container">
                        <img mat-card-image [src]="product.image" alt="Photo of a product" i18n-placeholder>
                    </div>
                    <mat-card-content>
                        <p>{{product.description}}</p>

                        <mat-chip>{{product.category}}</mat-chip>

                        <div class="rating">
                            <ngx-stars [readonly]="true" [maxStars]="5" [animation]="product.rating.rate ? false : true"
                                [color]="'dodgerblue'" [size]="1" [customPadding]="'.3rem'"
                                [initialStars]="product.rating.rate"></ngx-stars>
                            <span>({{product.rating.count}})</span>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>