<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a routerLink="/" i18n="@@projectTitle">Angular Online Store</a>
    
    <div class="menu">
      <a *ngIf="!(loggedInUser | async)" routerLink="/auth/login" mat-button i18n="@@login">Login</a>
      <button mat-icon-button *ngIf="(loggedInUser | async)">
        <mat-icon>account_circle</mat-icon>
      </button>
      <ng-container *ngIf="(loggedInUser | async) as user">
        <span>{{ user }}</span>
        <a (click)="onLogout($event)">Logout</a>
      </ng-container>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
