<div class="container">
    <div class="card-container">
        <div class="">
            <h1>Products</h1>
        </div>
        <div class="card">
            <div *ngFor="let product of products$ | async">
                <mat-card class="example-card" (click)="goToProductDetail(product.id)">
                    <mat-card-header>
                        <mat-card-title class="mat-card-title">{{product.title}}</mat-card-title>
                    </mat-card-header>
                    <div class="image-container">
                        <img mat-card-image [src]="product.image" alt="Photo of a product">
                    </div>
                    <mat-card-content>
                        <p>{{product.description}}</p>

                        <mat-chip>{{product.category}}</mat-chip>

                        <div class="rating">
                            <span><b>Rate:</b> {{product.rating.rate}}</span>

                            <span><b>Count:</b> {{product.rating.count}}</span>
                        </div>
                    </mat-card-content>
                    <!-- <mat-card-actions>
                        <button mat-button>LIKE</button>
                        <button mat-button>SHARE</button>
                    </mat-card-actions> -->
                </mat-card>
            </div>
        </div>
    </div>
</div>